body{
  background-color: antiquewhite ;
}
#head{
background: rgb(58, 58, 27);
width: 100%;
color: wheat;
height: 70px;
padding-top: 0%;
  
}
#footer{
    background: rgb(58, 58, 27);
    width:100%;
    height:100px;
    /* position:absolute; */
    bottom:0;
    left:0;

}
p{
    text-align:center;
    color: rgb(100, 100, 40);
    background-color: whitesmoke;

}
a{
  padding: 10px;
  text-align: left;
  color: azure;
  

}
h1{
  text-align: center;
  padding: auto;
}


.topTen{
  background-color: rgb(208, 219, 240);
  /* margin: auto; */
  width: 30%;
  border: 3px solid rgb(180, 221, 180);
  padding: 50px;
  border-radius: 15%;
  /* height: 100px; */
  margin-top: 20px;
  

}
.article{
  padding: 10px;
  text-align: center;

}
img{
  margin-left: 30%;
}